.picture {
    position: absolute;
    /* border-style: solid; */
    box-sizing: border-box;
    padding: 5px;
}

.pictureForm {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: blueviolet;
}
