html,
body {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}
